/*登录界面的样式设置*/
.register{
    animation: backG 60s infinite;
    background-size: cover;
    font-size: 12px;
    height: 100%;
    width: 100%;
    padding-top: 8vh;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }
  .login{
    animation: backG 40s infinite;
    background-image: url("../../img/power1.jpg");
    background-size: cover;
    font-size: 12px;
    height: 100%;
    width: 100%;
    padding-top: 8vh;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }
  @keyframes backG{
    0% {background-image: url("../../img/power1.jpg")}
    20% {background-image: url("../../img/power2.jpg")}
    40% {background-image: url("../../img/power3.jpg")}
    60% {background-image: url("../../img/power4.jpg")}
    80% {background-image: url("../../img/power5.jpg")}
    100% {background-image: url("../../img/power1.jpg")}
  }

  .Logo{
    animation: Logo_entry 4s ease-in;
    width: 540px;
    margin: 0 auto;
    position: relative;
    margin-top: 90px;
    left: 30px;
    /* top: 90px; */
    z-index: 4;
    text-align: center;
  }
  @keyframes Logo_entry{
    0%  {opacity: 0}
    50% {opacity: 0.2}
    100%{opacity: 1}

  }
  h1.Logo_Hogo{
    animation: text_glow 2s ease-out infinite alternate;
    font-family: sans-serif;
    color: #a3a483;
    font-size: 4.5vh;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  }
  @keyframes text_glow {
    0% {
      color: #00a4a2;
      text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    }
    100% {
      color: #00fffc;
      text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
  }
  h1.Logo_Hogo:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 700px solid transparent;
    border-bottom: 10px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0;
  }
  h1.Logo_Hogo:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0;
  }
  @keyframes before-glow {
    0% {
      border-bottom: 10px solid #8da49d;
    }
    100% {
      border-bottom: 10px solid #c8ffff;
    }
  }
  @keyframes after-glow {
    0% {
      border-top: 16px solid #7ea4a3;
    }
    100% {
      border-top: 16px solid #aefaff;
    }
  }
  /*表单框的设置和动画*/
  .Login form {
    animation: form-entry 2s ease-in-out;
    background: #111;
    background: linear-gradient(#004746, #111111);
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    display: inline-block;
    height: 320px;
    margin: 200px auto 0;
    position: relative;
    margin-top: 115px;
    z-index: 4;
    width: 550px;
    transition: 1s all;
    opacity: 0.8;
  }
  .Login_fade-box {
    animation: input-entry 2s ease-in;
    z-index: 4;
  }
  @keyframes form-entry {
    0% {
      height: 0;
      width: 0;
      opacity: 0;
      padding: 0;
    }
    20% {
      height: 0;
      border: 1px solid #00a4a2;
      width: 0;
      opacity: 0;
      padding: 0;
    }
    40% {
      width: 0;
      height: 320px;
      border: 8px solid #00a4a2;
      opacity: 1;
      padding: 0;
    }
    100% {
      height: 320px;
      width: 600px;
    }
  }
  @keyframes input-entry {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*鼠标悬停时的样式*/
  .Login form:hover {
    border: 6px solid #00fffd;
    box-shadow: 0 0 50px #92a0ff;
    transition: 1s all;
  }
  /*输入框的设置*/
  .Login_fade-box input{
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 1.2rem;
    height: 40px;
    margin: 40px auto 20px;
    padding: 0 8px;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
  }
  /*获得焦点的输入手段*/
  .Login_fade-box input:focus{
    animation: box-glow 2s ease-out infinite alternate;
    background: #0B4252;
    background: linear-gradient(#333933, #222922);
    border-color: #00fffc;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
  }
  @keyframes box-glow {
    0% {
      border-color: #00b8b6;
      box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    }
    100% {
      border-color: #00fffc;
      box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
  }
  .Login_fade-box input:invalid{
    border: 2px solid #ff9495;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000;
  }
  /*按钮的设置*/
  .Login_fade-box button{
    animation: input-entry 1s ease-in;
    background: #222;
    background: linear-gradient(#333333, #222222);
    box-sizing: content-box;
    border: 2px solid #444;
    border-left-color: #000;
    border-radius: 5px;
    box-shadow: 0 4px 0 #493d68;
    color: #fff;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 40px auto;
    padding: 0;
    float: left;
    margin-left: 40px;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 200px;
    transition: 1s all;
  }
  .Login_fade-box button:hover,
  .Login_fade-box button:focus{
    background: #0C6125;
    background: linear-gradient(#393939, #292929);
    color: #00fffc;
    outline: none;
    transition: 1s all;
  }
  .Login_fade-box button:active{
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 2px;
  }
  /*绘制背景圆*/
  .Circle{
    animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
    background: black;
    border-radius: 50%;
    border: 10px solid #00a4a2;
    box-shadow: 0 0 0 2px black, 0 0 0 6px #00fffc,0 0 0 4px #92a0ff;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    overflow: hidden;
    opacity: 0.4;
    z-index: 3;
  }
  .Circle_Inner{
    background: #000;
    border-radius: 50%;
    border: 40px solid #00fffc;
    height: 550px;
    width: 550px;
    margin-left: 15px;
    margin-top: 15px;
  }
  /*对圆进行遮盖*/
  .Circle_Inner:before{
    content: ' ';
    width: 300px;
    height: 600px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  .Circle_Inner:after{
    content: ' ';
    width: 600px;
    height: 300px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  @keyframes circle-entry {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }

  }
  @keyframes circle1 {
    0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #imgs1{
    margin: 0;
    padding: 0;
    width: 50px;
    float: left;
    /*margin-top: -10px;*/
    margin-right: 10px;
    margin-left: -5px;
  }
  .Info1{
    font-size:10px;
    width: 100%;
    height: 100%;
    background: black;
    position: relative;
    font-weight: bolder;
  }